div{
    display: inline-block;
    border: blueviolet 4px solid;
    background-color: cadetblue;
    width: 400px;
    height: 500px;
    padding: 10px;
    margin-left: 4%;
    margin-top: 100px;
}
h2{
    text-align: center;
}
#ex2{
    transition: 3s;
}
#ex2:hover{
    background-color: blue;
    border-radius: 25px;
    border: black 4px solid;
}